{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block title %}Магазин{% endblock title %}

{% block content %}
    <h1 class="h1-text">💃Милмар💃</h1>
    <h4 class="h1-text">Предлагает Вам</h4>

    <section class="plans">
        <h2 class="h1-text">Наши услуги: </h2>

        {% for service in services %}
        <div class="service-section">
            <h3 class="plan_title">{{ service.title }}</h3>
            <p class="plan_p">{{ service.description }}</p>
            <div class="section">
                <div class="div_in_div">
                    <div class="plan">
                    {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.title }}" class="plan_img">
                    {% endif %}
                    </div>
                    <h3 class="plan_price">Цена: {{ service.price }}₽</h3>
                </div>
                <button class="premium-btn">
                    <a href="{% url 'Connect' service.id %}" class="connect_a"><h1 class="connect_a">Записаться</h1></a>
                </button>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock content %}