{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block title %}Магазин{% endblock title %}

{% block content %}
    <div class="section">
        <ul class="ul_contacts">
            <li class="li_contants"><h2><a class="contacts" href="https://www.youtube.com/watch?v=2O8JAaaOKa0&t=903s">🌐Наши контакты:🌐</a></h2></li>
            <li class="li_contants"><h2><a class="contacts" href="https://www.youtube.com/watch?v=2O8JAaaOKa0&t=903s">🌐8 985 843-29-27🌐</a></h2></li>
            <li class="li_contants"><h2><a class="contacts" href="https://www.youtube.com/watch?v=2O8JAaaOKa0&t=903s">🌐@LofiScam🌐</a></h2></li>
            <li class="li_contants"><h2><a class="contacts" href="https://www.youtube.com/watch?v=2O8JAaaOKa0&t=903s">🌐@SwKey6🌐</a></h2></li>
            <li class="li_contants"><h2><a class="contacts" href="https://www.youtube.com/watch?v=2O8JAaaOKa0&t=903s">🌐8 918 081-92-74🌐</a></h2></li>
        </ul>
    </div>
{% endblock content %}