{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block title %}Магазин{% endblock title %}

{% block content %}
<div class="contacts-container">
    <div class="contacts-header">
        <h2 class="contacts-title">Наши контакты</h2>
        <div class="divider"></div>
    </div>
    
    <div class="contacts-grid">
        <div class="contact-item">
            <i class="fas fa-phone contact-icon"></i>
            <a href="tel:89858432927" class="contact-link">8 985 843-29-27</a>
        </div>
        
        <div class="contact-item">
            <i class="fab fa-telegram contact-icon"></i>
            <a href="https://t.me/LofiScam" class="contact-link">@LofiScam</a>
        </div>
        
        <div class="contact-item">
            <i class="fab fa-telegram contact-icon"></i>
            <a href="https://t.me/SwKey6" class="contact-link">@SwKey6</a>
        </div>
        
        <div class="contact-item">
            <i class="fas fa-phone contact-icon"></i>
            <a href="tel:89180819274" class="contact-link">8 918 081-92-74</a>
        </div>
    </div>
</div>
{% endblock content %}