{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block title %}Магазин{% endblock title %}

{% block content %}
    <h1 style="text-align: center;">Отзыв о нас!</h1>
    <iframe style="margin-left: 780px;" src="https://docs.google.com/forms/d/e/1FAIpQLSfTUxNEo9S6YFfTvVx76Gr2bWZ9rLHa2LqWML631-sBePDaCg/viewform?embedded=true" width="420" height="840" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
{% endblock content %}