{% extends "base.html" %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block title %}Сотрудники салона{% endblock title %}

{% block content %}
<div class="gold-container">
        <div class="gold-header">
            <h1>Милмар</h1>
            <p>Наши профессиональные специалисты</p>
        </div>
        
        <div class="masters-grid">
            {% for employe in employees %}
            <div class="master-card">
                <img src="{{ employe.photo.url }}" alt="Фото {{ employe.full_name }}" class="master-photo">
                <div class="master-info">
                    <h3 class="master-name">{{ employe.full_name }}</h3>
                    <p class="master-position">Направление: {{ employe.prof }}</p>
                    <p class="master-experience">Опыт работы: {{ employe.worked }} лет</p>
                    <p class="master-services">Умеет: {{ employe.do }}</p>
                </div>
                {% endfor %}
            </div>
        
        <a href="{% url 'About' %}" class="gold-button">ЗАПИСАТЬСЯ К МАСТЕРУ</a>
        
        <div class="gold-footer">
            Более 1000 довольных клиентов<br>
            Удобное расположение у метро
        </div>
    </div>
{% endblock content %}